<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="logs"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="CONSOLE_LOCAL" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) %cyan(%logger{36}): %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="SAVE-TO-FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/spring-base-project.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>
                ${LOG_PATH}/archived/log_%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE_LOCAL"/>
        </root>
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_LOCAL"/>
        </logger>
        <logger name="com.tzyel.springbaseproject" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE_LOCAL"/>
        </logger>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="SAVE-TO-FILE-ROLLING"/>
        </root>
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="DEBUG" additivity="false">
            <appender-ref ref="SAVE-TO-FILE-ROLLING"/>
        </logger>
        <logger name="com.tzyel.springbaseproject" level="DEBUG" additivity="false">
            <appender-ref ref="SAVE-TO-FILE-ROLLING"/>
        </logger>
    </springProfile>

    <springProfile name="stag">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
